@import "base.scss";
$vpw:0;
.loading{
	@include flt;
	z-index: 99;
	background-image: url(../images/menubg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	span{
		@include am(auto,auto);
		@include fontvw(38,38,#b5646f);
		text-align: center;
	}
}
.head_top{
	@include fltvw(640,83);
	transition: 0.3s;
	background-color: #fff2e7;
	z-index: 9;
	&.nobg{
		background-color: initial;
		&.on{
			background-color: initial;
		}
	}
	.logo{
		@include altvw(152,83);
		background-image: url(../images/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	$color-main: #b5646f;
	$color-active: #c19f75;
	&.on{
		background-color: #ffffff;
		.menubtn{
			.txt{
				background-image: url(../images/menu_active.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}	
			
			.top {
				@include transform(translateY(getVW(11)) translateX(0) rotate(45deg));
				background: $color-active;
			}
			.middle {
				opacity: 0;
				background: $color-active;
			}    
			.bottom {
				@include transform(translateY(-2.7vw) translateX(0) rotate(-45deg));
				background: $color-active;
			}
		}
	}
	.menubtn{
		@include artvw(173,83);
		cursor: pointer;
		.txt{
			@include altvw(107,83);
			background-image: url(../images/menu.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			transition: 0.3s;
		}
		span {
			@include border-radius(0.39vw);
			background: $color-main;
			border: none;
			height: getVW(5);
			width: getVW(46);
			position: absolute;
			top: getVW(25);
			left: getVW(107);
			transition:  all .35s ease;
			cursor: pointer;    
		  	&:nth-of-type(2) {
		    	top: getVW(39);
		  	}    
		  	&:nth-of-type(3) {
		    	top: getVW(53);
		  	}
		}
	}
}
.menu{
	@include alt;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 8;
	height: 0;
	&.on{
		height: 100%;
		.menua_box{
			.menua{
				opacity: 1;
			}
		}
		.menu_social{
			opacity: 1;
		}
		.footer{
			opacity: 1;
		}
		.menu_bg{
			@include transform(translateX(0));
			opacity: 1;
		}
	}
	&.off{
		$delayTime:0s;
		height: 100%;
		.menua_box{
			.menua{
				@include rvw(640,110);
				transition: 0.3s;
				opacity: 0;
				width: 100%;
				text-indent: -9999px;
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: center center;
				&.m1{
					transition-delay: $delayTime;
					background-image: url(../images/menu1.png);
				}
				&.m2{
					transition-delay: $delayTime;
					background-image: url(../images/menu2.png);
				}
				&.m3{
					transition-delay: $delayTime;
					background-image: url(../images/menu3.png);
				}
				&.m4{
					transition-delay: $delayTime;
					background-image: url(../images/menu4.png);
				}
				&.m5{
					transition-delay: $delayTime;
					background-image: url(../images/menu5.png);
				}
			}
		}
		.menu_social{
			transition-delay: $delayTime;
			opacity: 0;
		}
		.footer{
			transition-delay: $delayTime;
			opacity: 0;
		}
		.menu_bg{
			transition-delay: 0.3s;
			@include transform(translateX(100%));
			opacity: 0;
		}
	}
	$delayTime:0.8s;
	.menua_box{
		@include r;
		margin-top: getVW(194);
		z-index: 1;
		.menua{
			@include rvw(640,110);
			transition: 0.3s;
			opacity: 0;
			width: 100%;
			text-indent: -9999px;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center center;
			&.m1{
				transition-delay: $delayTime;
				background-image: url(../images/menu1.png);
			}
			&.m2{
				transition-delay: $delayTime;
				background-image: url(../images/menu2.png);
			}
			&.m3{
				transition-delay: $delayTime;
				background-image: url(../images/menu3.png);
			}
			&.m4{
				transition-delay: $delayTime;
				background-image: url(../images/menu4.png);
			}
			&.m5{
				transition-delay: $delayTime;
				background-image: url(../images/menu5.png);
			}
		}
	}
	.menu_social{
		@include r;
		margin: getVW(38) 0 getVW(150) 0;
		text-align: center;
		padding-top: getVW(60);
		transition: 0.3s;
		transition-delay: $delayTime;
		opacity: 0;
		z-index: 1;
		&:before{
			content:"";
			@include altvw(400,2,0,0,-200);
			background-color: #e8dacf;
			left: 50%;
		}
		.home_btn{
			width: getVW(58);
			height: getVW(57);
			margin-right: getVW(48);
			background-image: url(../images/menu_home.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			vertical-align: top;
			text-indent: -9999px;
		}
		.fb_btn{
			width: getVW(58);
			height: getVW(57);
			background-image: url(../images/menu_fb.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			vertical-align: top;
			text-indent: -9999px;
		}
	}
	.footer{
		@include r;
		@include fontvw(22,24,#b7a79a);
		height: getVW(40);
		margin-bottom: getVW(55);
		text-align: center;
		text-indent: -9999px;
		background-image: url(../images/footer_txt.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
		transition: 0.3s;
		transition-delay: $delayTime;
		opacity: 0;
		z-index: 1;
	}
	.menu_bg{
		@include flt;
		@include transform(translateX(100%));
		background-image: url(../images/menubg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		background-color: #fff0e6;
		opacity: 0;
		transition: 0.5s;
		z-index: 0;
	}
}
.wrapper{
	@include r;
	padding-top: getVW(83);
	z-index: 1;
	.index{
		@include r;
		&.on{
			.kv1{
				filter: blur(0px);
				background-size: 100%;
			}
			.kv2{
				opacity: 1;
				filter: blur(0px);
			}
			.btn{
				opacity: 1;
				top: getVW(834);
			}
		}
		.kv1{
			@include r;
			height: getVW(414);
			background-image: url(../images/index_kv1.png);
			background-size: 110%;
			filter: blur(5px);
			transition: 3.5s;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.kv2{
			@include r;
			height: getVW(386);
			background-image: url(../images/index_kv2.png);
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			margin-bottom: getVW(147);
			opacity: 0;
			filter: blur(5px);
			transition: 1.5s;
			transition-delay: 1s;
		}
		.btn{
			@include altvw(378,80,50,874,-189);
			left: 50%;
			background-image: url(../images/index_btn.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			opacity: 0;
			transition: 1s;
			transition-delay: 2s;
		}
	}
	.stage_input{
		@include r;
		.title{
			@include r;
			height: getVW(81);
			margin-top: getVW(65);
			margin-bottom: getVW(42);
			background-image: url(../images/input_title.png);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.frame{
			@include r;
			min-height: getVW(859);
			// height: calc(100% - 42.34375vw);
			// top: getVW(271);
			.content{
				@include r;
				width: getVW(470);
				margin-left: calc(50% - 36.71875vw);
				margin-right: calc(50% - 36.71875vw);
				padding-top: getVW(96);
				margin-bottom: getVW(200);
				z-index: 1;
				.pic{
					@include r;
					img{
						width: 100%;
					}
				}
			}
			.frame_bg{
				@include alt;
				z-index: 0;
				.frame_bg_top{
					@include alt;
					height: getVW(206);
					background-image: url(../images/input_frame_bg_top.png);
					background-size: 100% auto;
					background-repeat: no-repeat;
					background-position: center bottom;
				}
				.frame_bg_middle{
					@include alt;
					height: calc(100% - 134.21875vw);
					top: getVW(206);
					background-image: url(../images/input_frame_bg_middle.png);
					background-size: 100% auto;
					background-repeat: repeat-y;
					background-position: center top;
				}
				.frame_bg_bottom{
					@include alb;
					height: getVW(653);
					background-image: url(../images/input_frame_bg_bottom.png);
					background-size: 100% auto;
					background-repeat: no-repeat;
					background-position: center top;
				}
			}
		}
	}
}
.bg{
	@include flt;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	z-index: 0;
}